<div class="container">
  <div class="row" *ngIf="round === 10">
    <div class="col">
      <h1>¡Terminó el juego!</h1>
      <ul>
        <li><h3>Respuestas correctas: {{wellAnswers}}</h3></li>
        <li><h3>Respuestas incorrectas: {{badAnswers}}</h3></li>
        <li><h3>Puntos: {{points}}</h3></li>
      </ul>
      <button class="answerButton btn btn-pill btn-success"
              (click)="reset()">Jugar de nuevo
      </button>
    </div>
  </div>
  <div *ngIf="round < 10">
    <div class="row" *ngIf="userAnswer && userAnswer !== undefined">
      <div class="col">
        <div class="alert alert-success" role="alert">
          <div class="alert-message text-md-center">
            <strong>Correcta!</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2" *ngIf="!userAnswer && userAnswer !== undefined">
      <div class="col">
        <div class="alert alert-danger" role="alert">
          <div class="alert-message  text-md-center">
            <strong>Ups, esa no era!</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-md-center" *ngIf="selectedQuestion !== undefined">
        <h1>{{selectedQuestion.question.text}}</h1>
      </div>
    </div>
    <div class="row" *ngIf="selectedQuestion !== undefined">
      <div class="col buttons text-md-center" *ngFor="let q of selectedQuestion.incorrectAnswers">
        <button class="answerButton btn btn-pill btn-info" (click)="response(false)" [disabled]="isDisabled">{{q}}</button>
      </div>
      <div class="col buttons text-md-center">
        <button class="answerButton btn btn-pill btn-info" (click)="response(true)" [disabled]="isDisabled">{{selectedQuestion.correctAnswer}}</button>
      </div>
    </div>
  </div>
</div>
