<div class="container-fluid p-0">

  <h1 class="h3 mb-3">Iniciar sesión</h1>

  <div class="row">
    <div class="col-12 col-xl-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" placeholder="Email" formControlName="email">
            </div>
            <div class="mb-3">
              <label class="form-label">Contraseña</label>
              <input type="password" class="form-control" placeholder="Password" formControlName="password">
            </div>
            <div class="mb-3">
              <span>No tenés cuenta? <a routerLink="/signup">Creá una acá</a> </span>
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">INGRESAR
                <i class="bi bi-box-arrow-in-right"></i></button>
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Acceso rápido</h5>
          <h6 class="card-subtitle text-muted">Podés loguearte con 3 usuarios de tests distintos para realizar
            pruebas.</h6>
        </div>
        <div class="card-body text-center quickLogin">
          <div class="mb-3">
            <button class="btn btn-info" (click)="autoLogin('1')"><i class="bi bi-person-circle"></i> User Test 1
            </button>
            <button class="btn btn-info " (click)="autoLogin('2')"><i class="bi bi-person-circle"></i> User Test 2
            </button>
            <button class="btn btn-info" (click)="autoLogin('3')"><i class="bi bi-person-circle"></i> User Test 3
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
