<nav class="navbar navbar-expand navbar-light navbar-bg">
  <a (click)="ShowNavbar(isVisible = !isVisible)" class="sidebar-toggle d-flex">
    <i class="hamburger align-self-center"></i>
  </a>

  <div class="navbar-collapse collapse" *ngIf="authService.isLoggedIn() && user.email !== null">
    <ul class="navbar-nav navbar-align">
      <li class="nav-item dropdown">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" *ngIf="accumulatedPoints !== 0">
    {{accumulatedPoints}}
    <span class="visually-hidden">unread messages</span>
  </span>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link user" href="#">
          <img
            src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light"
            class="avatar img-fluid rounded mr-1" alt="Charles Hall"/> <span
          class="text-dark">{{user.email}} </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-icon" routerLink="/survey" id="survey">
          <div class="position-relative">
            <i class="bi bi-ui-checks"></i> <p class="actionName">Encuesta</p>
          </div>
        </a>
      </li>
      <li class="nav-item" *ngIf="this.authService.isAdmin()">
        <a class="nav-icon" routerLink="/answered-surveys" id="lookSurveys">
          <div class="position-relative">
            <i class="bi bi-eye"></i> <p class="actionName">Ver encuestas</p>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-icon" routerLink="/chat" id="messagesDropdown">
          <div class="position-relative">
            <i class="bi bi-chat-left"></i> <p class="actionName">Chat</p>
          </div>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-icon" id="logout">
          <div class="position-relative">
            <i class="bi bi-power" (click)="logout()"></i> <p class="actionName">Salir</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</nav>
