<nav class="navbar navbar-expand navbar-light navbar-bg">
  <a (click)="ShowNavbar(isVisible = !isVisible)" class="sidebar-toggle d-flex">
    <i class="hamburger align-self-center"></i>
  </a>

  <div class="navbar-collapse collapse" *ngIf="isUserLogged">
    <ul class="navbar-nav navbar-align">
      <li class="nav-item dropdown">
        <a class="nav-icon" href="#" id="notification">
          <div class="position-relative">
            <i class="bi bi-bell"></i>
            <span class="indicator">4</span>
          </div>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-icon" href="#" id="messagesDropdown">
          <div class="position-relative">
            <i class="bi bi-chat-left"></i>
          </div>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#">
          <img src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light" class="avatar img-fluid rounded mr-1" alt="Charles Hall"/> <span
          class="text-dark">{{user | json}}</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-icon" id="logout">
          <div class="position-relative">
            <i class="bi bi-power" (click)="logout()"></i>
          </div>
        </a>
      </li>
    </ul>
  </div>
</nav>
