.container{
  background-color: #149566;
  padding-bottom: 2%;
  box-shadow: 10px 15px 0px 2px rgba(0,0,0,0.32);
  -webkit-box-shadow: 10px 15px 0px 2px rgba(0,0,0,0.32);
  -moz-box-shadow: 10px 15px 0px 2px rgba(0,0,0,0.32);
}

.welcome{
  background-color: transparent;
}

.gameCard{
  width: 65%;
  padding: 0;
  margin:0;
}

.playerArea{
  margin-top: 10%;
}

.playerArea, .dealerArea{
  padding-left: 10%;
}

.playerName{
  font-weight: bold;
  padding: 5%;
}

.button-53 {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 50%;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

.stop-card-button{
  background-color: #f62d4f;
}
