
* {
  box-sizing: border-box;
}

.main-container {
  max-width: 800px;
  margin: auto;
}

h1#msg-final {
  text-align: center;
  color: crimson;
  transition: all .5s ease;
  transform: scale(0);
  min-height: 50px;
  margin-bottom: 0;
}

.zoom-in {
  transform: scale(1) !important;
}

#ok {
  text-align: center;
  min-height: 24px;
  transform: scale(0);
}

#word {
  margin-top: 25%
}

h2.word {
  margin: 0 auto 25px auto;
  text-align: center;
  color: royalblue;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 3em;
}

.flex-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px auto;
}

.no-wrap {
  flex-wrap: nowrap !important;
}

#try h3 {
  margin: auto;
}

h3 span {
  color: orangered;
}

#image5, #image4, #image3,
#image2, #image1, #image0 {
  opacity: 0;
  transition: opacity .3s ease;
}

.scoring ul li {
  display: inline-flex;
  padding: 2%;
  font-size: x-large;
  font-weight: bold;
}

.attemps {
  color: red;
}

.alert-success, .alert-danger {
  padding: 1%;
  font-size: 1.2em;
}

.screenKeyboard button {
  padding: 1%;
}

.clueButton, .declineClue{
  margin-left: 3%;
}
