<div class="container">
  <div class="row">
    <div class="col">
      <div class="alert alert-success text-md-center" role="alert" *ngIf="isWinner">
        <strong>Felicidades, </strong> sos el ganador!
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="isLoser">
        La próxima será. Perdiste :(
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col scoring text-md-left">
      <ul>
        <li class="attemps">Intentos: {{attempts}}</li>
        <li class="points">Puntos: {{points}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="word" id="word"
          *ngIf="this.hiddenWord.length>0">{{this.hiddenWord}}</h2>
    </div>
    <div class="col">
      <picture>
        <img *ngFor="let image of imagesName" [src]=image alt="hanged_part" id="image6" height="200">
      </picture>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <div class="flex-row" id="screenKeyboard">
        <button class="btn btn-square btn-secondary" *ngFor="let letter of keyboard" (click)="try(letter.toUpperCase())"
                [disabled]="shouldDisableLetter(letter)">{{letter}}</button>
      </div>
    </div>
    <div class="col">
      <button class="btn btn-square btn-info" (click)="resetGame()">Volver a jugar</button>
      <button class="btn btn-square btn-info clueButton" (click)="showBadgeClue()" [disabled]="lockClue">Dame una pista!
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="alert alert-primary alert-dismissible" role="alert" *ngIf="this.badgeClue">
        <div class="alert-message">
          <h4 class="alert-heading">Atención!</h4>
          <p>Tené en cuenta, que sólo podes solicitar una pista y al aceptar recibirla perderás un intento.</p>
          <p>Aún así... ¿Querés la pista?</p>
          <hr>
          <div class="btn-list">
            <button class="btn btn-square btn-success" type="button" (click)="giveClue()">Si, dámela igual!</button>
            <button class="btn btn-square btn-danger declineClue" type="button" (click)="this.badgeClue = !this.badgeClue">No, gracias</button>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="clueMessage.length>0">
        <div class="alert alert-success alert-dismissible" role="alert">
          <button (click)="this.clueMessage = ''" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <div class="alert-message">
            <strong>Pista desbloqueada!</strong> {{this.clueMessage}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
