<nav id="sidebar" class="sidebar" *ngIf="isVisible" style="display: inline-block">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" routerLink="/">
        <span class="align-middle">
          <i class="bi bi-joystick"></i> Sala de juegos</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Pages
      </li>

      <li class="sidebar-item active">
        <a class="sidebar-link" routerLink="/">
          <i class="bi bi-house"></i> <span class="align-middle">Inicio</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/about-me">
          <i class="bi bi-person-bounding-box"></i> <span class="align-middle">Quién soy</span>
        </a>
      </li>

      <div *ngIf="!isUserLogged">
        <li class="sidebar-header">
          Users
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/login">
            <i class="bi bi-door-open"></i> <span class="align-middle">Iniciar sesión</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/signup">
            <i class="bi bi-box-arrow-in-right"></i> <span class="align-middle">Registrarse</span>
          </a>
        </li>
      </div>
    </ul>
  </div>
</nav>

